/*Paramètres généreaux*/
body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}
a
{
    text-decoration: none;
    color: black;
}
#contenu
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/*header*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo
{
    height: 95px;
    display: flex;
    justify-content: left;
    margin-top: 0%;   
}
/*nav*/ 
.activite
{
    padding-left: 80px;
}
.inscrire
{
    padding-left: 80px;
    background-color: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    
}
/*main filtres*/
.titre
{
    font-size: 1.3em;
}
.description
{
    font-size: 1em;
}
.position
{
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 20px;

}
#champ
{
    border: none;
    padding: 17px;
    padding-top: 15px;
    margin-left: -5px;
    font-weight: bold;
    font-family: 'Raleway' ,sans-serif;
    font-size: 1em;
}
.recherche
{
    padding: 20px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    margin-left: -5.5px;
    color: white;
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    cursor: pointer;
}
#filtres
{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}
.fa-money-bill-wave
{
    margin-left: 30px;
    border-radius: 100%;
    background-color: #DEEBFF;
    padding: 15px;
    color: #0065FC;
    margin-top: -20px;
    align-items: center;
}
.economie
{
    border: 2px solid;
    border-left: transparent;
    border-color: #F2F2F2;
    border-radius: 0px 30px 30px 0px;
    padding: 11px;
    padding-left: 30px;
    margin-left: -25px;
}
.fa-child
{
    margin-left: 15px;
    border-radius: 100%;
    background-color: #DEEBFF;
    padding: 15px;
    color: #0065FC;
    margin-top: -20px;
}
.familial
{
    border: 2px solid;
    border-left: transparent;
    border-color: #F2F2F2;
    border-radius: 0px 30px 30px 0px;
    padding: 11px;
    padding-right: 15px;
    padding-left: 25px;
    margin-left: -20px;
}
.fa-heart
{
    margin-left: 15px;
    border-radius: 100%;
    background-color: #DEEBFF;
    padding: 15px;
    color: #0065FC;
    margin-top: -20px;
}
.romantique
{
    border: 2px solid;
    border-left: transparent;
    border-color: #F2F2F2;
    border-radius: 0px 30px 30px 0px;
    padding: 11px;
    padding-right: 15px;
    padding-left: 25px;
    margin-left: -20px;
}
.fa-dog
{
    margin-left: 15px;
    border-radius: 100%;
    background-color: #DEEBFF;
    margin-top: -20px;
    padding: 15px;
    color: #0065FC;
    margin-top: -20px;
}
.animaux
{
    border: 2px solid;
    border-left: transparent;
    border-color: #F2F2F2;
    border-radius: 0px 30px 30px 0px;
    padding: 11px;
    padding-right: 15px;
    padding-left: 25px;
    margin-left: -20px;
}
#info
{
    margin-top: 40px;
}
.fa-info
{
    font-size: 0.7em;
    color: #0065FC;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    padding: 5px;
    margin-right: 15px;
}

/*hebergement*/
#contenuLogementPopulaire
{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#logements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 65%;

}
.titreMainHeader 
{
   
}
.image1Figure
{
    cursor: pointer;
    height: 250px;
    width: 233px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}
.image1Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    padding-top: 4px;
    padding-left: 4px;
}
.image1Titre
{
    font-size: 1em;
    padding-left: 4px;
}
.image1Prix
{
    font-size: 1em;
    padding-left: 4px;
}
.imageEtoile
{
    color: #0065FC;
    padding-left: 4px;
    font-size: 1em;

}
.image2Figure
{
    
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 234px;
    height: 250px;

}
.image2Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    
}
.image2Titre
{
    font-size: 0.77em;
    
}
.image2Prix
{
    font-size: 0.77em;
    
}
.image3Figure
{
    
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 234px;
    height: 250px;
}
.image3Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    
}
.image3Titre
{
    font-size: 0.77em;
    
}
.image3Prix
{
    font-size: 0.77em;
    
}
.image4Figure
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 234px;
    height: 250px;
    
}
.image4Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
    
}
.image4Titre
{
    font-size: 0.77em;
    
}
.image4Prix
{
    font-size: 0.77em;
    
}
.image5Figure
{
    border-radius: 20px 20px 20px 20px;
    
    background-color: white;
    width: 234px;
    height: 250px;
   
}
.image5Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
    
}
.image5Titre
{
    font-size: 0.77em;
    
}
.image5Prix
{
    font-size: 0.77em;
    margin-top: -10px;
    margin-left: -20px;
}
.image6Figure
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
   
    width: 234px;
    height: 250px;

}
.image6Image
{
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
    
}
.image6Titre
{
    font-size: 0.77em;
    margin-left: -20px;
}
.image6Prix
{
    font-size: 0.77em;
    margin-top: -10px;
    margin-left: -20px;
}
.afficher
{
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 30px;
}

/*Les plus populaires*/
#populaires
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 33%;
    
    
    height: 705px;
}
.titrePopulaire 
{
    
}
.fa-chart-line
{
    
    font-size: 30px;
   
}
.imageFigure
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
   
    width: 450px;
    height: 160px;
}
.imagePopulaire
{
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    
}
.imageAsideTitre
{
    
    font-size: 1em;
   
}
.imageAsidePrix
{
    padding-left: 250px;
    margin-top: -15px;
}
.imageAsideEtoile
{
    padding-left: 250px;
    color: #0065FC;
}
.image1AsideFigure
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    
    width: 450px;
    height: 160px;
}
.image1Populaire
{
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    
    width: 225px;
}
.image1AsideTitre
{
    font-size: 1em;
  
}
.image1AsidePrix
{
    
}
.image1Etoile
{
   
    color: #0065FC;
}
.image2AsideFigure
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 450px;
    height: 160px;
    
}
.image2Populaire
{
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    
    width: 225px;
}
.image2AsideTitre
{
    
    font-size: 1em;
    
}
.image2AsidePrix
{
    
}
.image2Etoile
{
    
    color: #0065FC;
}


/*Activitées*/
#activites
{
   
}
.activitesTitre
{
    
}
#image1Activites
{
    
}
.image1ActiviteImage
{
    
}
