/*Paramètres généreaux*/
body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}
a
{
    text-decoration: none;
    color: black;
}
#contenu
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/*header*/
header
{
    display: flex;
    justify-content: space-between;
}
#logo
{
    height: 95px;
    display: flex;
    justify-content: left;
    margin-top: 0%;   
}
/*nav*/ 
.activite
{
    padding-left: 80px;
}
.inscrire
{
    padding-left: 80px;
    background-color: white;
    border: none;
    font-size: medium;
}
/*main filtres*/
.titre
{
    font-size: 1.3em;
}
.description
{
    font-size: 1em;
}
.position
{
    border: #F2F2F2 solid;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    
}